In [1]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\admin\anaconda3\envs\multi\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing requirements for pyzmq: [Errno 2] No such file or directory: 'c:\\users\\admin\\anaconda3\\envs\\multi\\lib\\site-packages\\pyzmq-22.1.0.dist-info\\METADATA'

In [2]:
import pymysql.cursors

In [3]:
import pandas as pd

In [4]:
conn = pymysql.connect(host='15.164.148.106', user='pj', 
                       password='1234', db='testbook', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)
try:

   with conn.cursor() as curs:
      sql = "select * from 화재;"
      curs.execute(sql)
      rs = curs.fetchall()

      # DB에서 받아온 값을 DataFrame에 넣음

      df = pd.DataFrame(rs)
      print(df)
    
    #df.to_csv('query.csv')

finally:

   conn.close()               #day20,6.15 자료

       기간      시   자치구      동  발생_합계  발생_실화  발생_방화  발생_기타  소실_동수  소실_이재가구수  \
0    2018  서울특별시    합계     합계   6368   5662    167    539   1033       177
1    2018  서울특별시   종로구     소계    254    219      7     28     20        43
2    2018  서울특별시   종로구    사직동     21     16      1      4      0         0
3    2018  서울특별시   종로구    삼청동      2      2      0      0      0         0
4    2018  서울특별시   종로구    부암동      6      6      0      0      0         0
..    ...    ...   ...    ...    ...    ...    ...    ...    ...       ...
540  2019  서울특별시  동대문구   전농1동     16     14      0      2      5         1
541  2019  서울특별시  동대문구   전농2동      6      5      0      1      1         0
542  2019  서울특별시  동대문구  답십리1동      6      4      0      2      2         0
543  2019  서울특별시  동대문구  답십리2동     10      8      0      2      5         0
544  2019  서울특별시  동대문구   장안1동     25     19      0      6      4         0

     ...    피해액_동산    재산피해경감액  인명피해_합계  인명피해_사망  인명피해_부상  이재민수  구조인원  입력주소_동  \
0    ...  15761107  606988371      360       53      307   360   911      합계
1    ...    294345   12190920       36       14       22    44    60      소계
2    ...     16055    3987678        0        0        0     0     0     사직동
3    ...      1834     119088        1        0        1     0     0     삼청동
4    ...      4309     302738        0        0        0     0     0     부암동
..   ...       ...        ...      ...      ...      ...   ...   ...     ...
540  ...     14752     167377        2        1        1     3     8    전농1동
541  ...      5274      42831        1        1        0     0     1    전농2동
542  ...      5222     161287        0        0        0     0     0   답십리1동
543  ...     22850     824936        1        0        1     0     3   답십리2동
544  ...    246741    1313345        7        1        6     0    14    장안1동

             경도         위도
0    123.741774  32.522020
1    123.741774  32.522020
2    126.965959  37.575407
3    126.981010  37.590757
4    126.965589  37.594767
..          ...        ...
540  127.047788  37.577952
541  127.060036  37.578023
542  127.056718  37.570968
543  127.056718  37.570968
544  127.066664  37.567704

[545 rows x 23 columns]